@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);

	--fs-m: 16px;
	--fs-l: 18px;

	--fw-3: 300;
	--fw-5: 500;
	--fw-7: 700;

	--gap-1: min(5vw, 1rem);
	--gap-1-5: min(7vw, 1.5rem);
	--gap-2: min(10vw, 2rem);
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	padding: var(--gap-1) var(--gap-2);
	background: bottom right / contain no-repeat url("./images/pattern-curve.svg");
}

.main {
	display: grid;
	grid-template-rows: min-content min-content;
	height: min-content;
	gap: var(--gap-2);
}

.gallery {
	padding: var(--gap-2);
	background: center / contain no-repeat url("./images/pattern-bg.svg");
	position: relative;
}

.gallery__buttons {
	position: absolute;
	top: calc(100% - var(--gap-2));
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 2rem;
	display: flex;
}

.button {
	background-color: transparent;
	border: none;
	padding: 1rem;
	display: grid;
	place-content: center;
}

.button__image {
	height: 0.75rem;
}

.gallery__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.25rem;
	box-shadow: 0 2rem 2rem -1rem #00000050;
}

.testimonial {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1);
	padding-top: var(--gap-2);
	background: top / 4rem no-repeat url(./images/pattern-quotes.svg);
}

.testimonial__quote {
	font-size: var(--fs-l);
	font-weight: var(--fw-3);
	text-align: center;
}

.testimonial__author {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.testimonial__name {
	font-weight: var(--fw-7);
}

.testimonial__post {
	font-weight: var(--fw-5);
	color: var(--grayish-blue);
}

.footer {
	font-size: 0.5rem;
	margin: auto;
}
