@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);

	--fs-m: 16px;
	--fs-l: 18px;

	--fw-3: 300;
	--fw-5: 500;
	--fw-7: 700;

	--gap-1: min(5vw, 1rem);
	--gap-1-5: min(7vw, 1.5rem);
	--gap-2: min(10vw, 2rem);
}

body {
	min-height: 100vh;
	display: grid;
	padding: var(--gap-1) var(--gap-2);
	background: bottom right / contain no-repeat url("./images/pattern-curve.svg");
	position: relative;
}

.main {
	display: grid;
	grid-template-rows: min-content min-content;
	height: min-content;
	gap: var(--gap-2);
}

.gallery {
	padding: var(--gap-2);
	background: center / contain no-repeat url("./images/pattern-bg.svg");
	position: relative;
}

.gallery__buttons {
	position: absolute;
	top: calc(100% - var(--gap-2));
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 100px;
	display: flex;
}

.button {
	background-color: transparent;
	border: none;
	padding: 1rem;
	display: grid;
	place-content: center;
	cursor: pointer;
}

.button__image {
	height: 0.75rem;
}

.gallery__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.25rem;
	box-shadow: 0 2rem 2rem -1rem #00000050;
}

.testimonial {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1);
	padding-top: var(--gap-2);
	background: top / 4rem no-repeat url(./images/pattern-quotes.svg);
}

.testimonial__quote {
	font-size: var(--fs-l);
	font-weight: var(--fw-3);
	text-align: center;
}

.testimonial__author {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.testimonial__name {
	font-weight: var(--fw-7);
	font-size: var(--fs-m);
}

.testimonial__post {
	font-weight: var(--fw-5);
	color: var(--grayish-blue);
	font-size: var(--fs-m);
}

.footer {
	font-size: 0.5rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: var(--grayish-blue);
}

.footer__link {
	color: var(--dark-blue);
	opacity: 0.75;
}

@media screen and (min-width: 800px) {
	:root {
		--fs-m: 24px;
		--fs-l: 34px;
	}

	body {
		place-items: center;
		background: bottom left / 640px no-repeat url("./images/pattern-curve.svg");
	}

	.main {
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		grid-template-columns: repeat(10, 1fr);
		gap: 0;
		max-width: 70rem;
	}

	.gallery {
		grid-column: 6/11;
		grid-row: 1/4;
		background: none;
		padding: 0;
		position: relative;
	}

	.gallery::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 130%;
		height: 130%;
		background: center / 100% no-repeat url(./images/pattern-bg.svg);
		z-index: -1;
	}

	.gallery__buttons {
		top: 100%;
		left: 20%;
		transform: translate(-50%, -50%);
	}

	.button {
		padding: 1.5rem;
	}

	.button__image {
		height: 1.2rem;
	}

	.testimonial {
		grid-column: 1/7;
		grid-row: 2/3;
		z-index: 1;
		justify-content: center;
		padding-top: 4rem;
		background: top left 8rem / 8rem no-repeat url(./images/pattern-quotes.svg);
		gap: var(--gap-2);
	}

	.testimonial__quote {
		font-size: var(--fs-l);
		font-weight: var(--fw-3);
		text-align: left;
	}

	.testimonial__author {
		flex-direction: row;
		gap: var(--gap-1);
	}
}
